header {
    background-color: rgb(61, 10, 113);
    
}

header h1 {
    font-size: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    color: rgb(164, 88, 234);
    padding: 60px;
}

body {
    background-color: rgb(198, 168, 238);
}

.label {
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
    font-family: 'Franklin Gothic Medium';
    color: rgb(61, 10, 113);
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 50px;
    border-radius: 10px;
    border: 4px solid rgb(164, 88, 234);
    box-shadow: 4px 4px 0 rgb(61, 10, 113);
    margin-bottom: 50px;
    font-size: 20px;
    
}

#convert { 
    
    margin-left: 750px;
    margin-right: auto;
    margin-bottom: 10px;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    border: 4px solid rgb(164, 88, 234);
    box-shadow: 4px 4px 0 rgb(61, 10, 113);
    background-color: rgb(164, 88, 234);
    color: rgb(61, 10, 113);
    font-family: 'Franklin Gothic Medium';
    font-size: 17px;
    

}

button:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

#clean {
    
    margin-left: 15px;
    margin-right: auto;
    margin-bottom: 30px;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    border: 4px solid rgb(164, 88, 234);
    box-shadow: 4px 4px 0 rgb(61, 10, 113);
    background-color: rgb(164, 88, 234);
    color: rgb(61, 10, 113);
    font-family: 'Franklin Gothic Medium';
    font-size: 17px;
}

footer {
    background-color: rgb(61, 10, 113);
    

}

footer p {
    font-size: 20px;
    padding: 60px 0;
    text-align: center;
    color: rgb(164, 88, 234);

    
}

footer p a {
    color: rgb(164, 88, 234);
}